.logo{
            float:left;
            height:50px;
            margin-bottom:100px;
        }
        marquee{
            float:right;
            width:55%;
            font-size:40px;
            font-family:impact;
            letter-spacing:3px;
            text-shadow:5px 60px 5px 5px black;
            color:grey;
            margin-top:50px;
        }
          .list{
             background-color:;
             margin-left:300px;
             padding-top:60px;
         }
         .list 2{
             
             list style:none;
         }
         .li:hover{
             opacity:0.7;
             overflow:hidden;
             padding-bottom:20px;
         }
         .count{
             background-color: red;
             color: white;
             border-radius: 100%;
             width: 3%;
             height: 17px;
             border-style: solid;
             border-color: white;
             font-size: 12px;
             float: right;
             margin-bottom: 20px;
             margin-right: 50px;
             text-align: center;
         }
         .li{
             display:inline;
             color:black;
             font-size:20px;
             font-family:arial;
             font-weight: bold;
             text-decoration:none;
             padding-left:60px;
             font-style:serif;
         }
         .li2{
             color:black;
         }
         #rightarrow{
             height: 100px;
             position: absolute;
             margin-left: 20px;
             margin-top: 300PX;
             width: 20%;
         }
         #rightarrow:hover{
             opacity: 0.5;
         }
         #leftarrow{
            height: 100px;
             position: absolute;
             margin-right: 20px;
             margin-top: 300PX;
             margin-left: 95%;
             width: 20%;
         }
         #leftarrow:hover{
             opacity: 0.5;
         }
         .big-img{
             border-style:solid;
             border-radius:20px;
             width: 100%;
             height: 600px;
         }
         .honda{
             background-color:black;
             color:white;
             height:80px;
             margin-bottom:20px;
             margin-top:20px;
             padding-top:4px;
             padding-left:20px;
             border-style: solid;
             border-radius:20px;
         }
         .honda-head{
             font-family:arial;
         }
         .containor{
             background-color:lightgrey;
             border-style:solid;
             height:500px;
             border-radius:20px;
             margin-bottom:20px;
             padding-bottom: 50px;
         }
         li{
             display: inline;
         }
         .box1{
             width:20%;
             padding-left:30px;
             font-family:arial;
             float:left;
         }
         .bar{
             text-align:center;
             font-size:20px;
         }
         .image{
             border-radius:20px;
             height:160px;
         }
         .image:hover{
             opacity:0.7;
             overflow:hidden;
         }
         .para{
             text-align:center;
             padding-top:10px;
         }
         .more{
             text-align:center;
         }
         .cartbutton{
             margin: 10px;
             width: 100px;
             height: 30px;
             background-color: black;
             color: white;
             border-radius: 20px;
             box-shadow: 5px 10px 10px 1px black;
         }
         .cartbutton:hover{
             opacity: 0.8;
         }
         .box2{
             width:20%;
             float:left;
             padding-left:50px;
             font-family:arial;  
         }
         .heading2{
             font-size:22px;
             text-align:center;
         }
         .image2{
             border-radius:20px;
             height:160px;
         }
         .image2:hover{
             opacity:0.7;
             overflow:hidden;
         }
         .para2{
             margin-top:12px;
             text-align:center;
         }
         .price2{
             text-align:center;
         }
         .box3{
             width:20%;
             float:left;
             padding-left:50px;
             font-family:arial;
         }
         .heading3{
             font-size:22px;
             text-align:center;
         }
         .image3{
             border-radius:20px;
             height:160px;
             width:100%;
         }
         .image3:hover{
             opacity:0.7;
             overflow:hidden;
         }
         .para3{
             margin-top:12px;
             text-align:center;
         }
         .price3{
             text-align:center;
         }
         .box4{
             width:20%;
             float:left;
             padding-left:50px;
             font-family:arial;
         }
         .heading4{
             font-size:22px;
             text-align:center;
         }
         .image4{
             border-radius:20px;
             height:160px;
             width:100%;
         }
         .image4:hover{
             opacity:0.7;
             overflow:hidden;
         }
         .para4{
             margin-top:12px;
             text-align:center;
         }
         .price4{
             text-align:center;
         }
         .toyota{
             background-color:black;
             color:white;
             height:80px;
             padding-left:20px;
             padding-top:4px;
             border-style:solid;
             border-radius:20px;
         }
         .toyota-head{
             font-family:arial;
         }
         .containor2{
             background-color:lightgrey;
             border-style:solid;
             border-radius:20px;
             height:500px;
             margin-bottom:20px;
             margin-top:20px;
             padding-bottom: 50px;
         }
         .box5{
             width:20%;
             font-family:arial;
             padding-left:20px;
             float:left;
         }
         .heading5{
             font-size:22px;
             text-align:center;
         }
         .image5{
             border-radius:20px;
             height:160px;
             text-align:center;
         }
         .image5:hover{
             opacity:0.7;
             overflow:hidden;
         }
         .para5{
             margin-top:12px;
             text-align:center;
         }
         .price5{
             text-align:center;
         }
         .box6{
             width:20%;
             font-family:arial;
             margin-left:20px;
             float:left;
         }
         .heading6{
             font-size:22px;
             text-align:center;
         }
         .image6{
             height:160px;
             border-radius:20px;
             text-align:center;
         }
         .image6:hover{
             opacity:0.7;
             overflow:hidden;
         }
         .para6{
             margin-top:12px;
             text-align:center;
         }
         .price6{
             text-align:center;
         }
         .box7{
            width:20%;
            font-family:arial;
            float:left;
            margin-left:60px;
         }
         .heading7{
             font-size:22px;
             text-align:center;
         }
         .image7{
             height:160px;
             border-radius:20px;
             text-align:center;
         }
         .image7:hover{
             opacity:0.7;
             overflow:hidden;
         }
         .para7{
             margin-top:12px;
             text-align:center;
         }
         .price7{
             text-align:center;
         }
         .box8{
             width:20%;
             float:left;
             font-family:arial;
             margin-left:40px;
         }
         .heading8{
             font-size:22px;
             text-align:center;
         }
         .image8{
             height:160px;
             border-radius:20px;
             text-align:center;
         }
         .image8:hover{
             opacity:0.7;
             overflow:hidden;
         }
         .para8{
             margin-top:12px;
             text-align:center;
         }
         .price8{
             text-align:center;
         }
         .suzuki{
             background-color:black;
             color:white;
             border-style:solid;
             border-radius:20px;
             margin-bottom:20px;
             padding-left:10px;
             font-family:arial;
         }
         .containor3{
             background-color:lightgrey;
             border-style:solid;
             border-radius:20px;
             height:550px;
             margin-bottom:20px;
             padding-bottom: 20px;
         }
         .box9{
             width:20%;
             font-family:arial;
             padding-left:20px;
             float:left;
         }
         .heading9{
             font-size:22px;
             text-align:center;
         }
         .image9{
             border-radius:20px;
             height:160px;
         }
         .image9:hover{
             opacity:0.7;
             overflow:hidden;
         }
         .para9{
             margin-top:12px;
             text-align:center;
         }
         .price9{
             text-align:center;
         }
         .box10{
             width:20%;
             float:left;
             font-family:arial;
             padding-left:60px;
         }
         .heading10{
             font-size:22px;
             text-align:center;
         }
         .image10{
             height:160px;
             border-radius:20px;
             text-align:center;
         }
         .image10:hover{
             opacity:0.7;
             overflow:hidden;
         }
         .para10{
             margin-top:12px;
             text-align:center;
         }
         .price10{
             text-align:center;
         }
         .box11{
             width:20%;
             float:left;
             font-family:arial;
             padding-left:60px;
         }
         .heading11{
             font-size:22px;
             text-align:center;
         }
         .image11{
             height:160px;
             border-radius:20px;
             text-align:center;
         }
         .image11:hover{
             opacity:0.7;
             overflow:hidden;
         }
         .para11{
             text-align:center;
             margin-top:12px;
         }
         .price11{
             text-align:center;
         }
         .box12{
             width:20%;
             float:left;
             font-family:arial;
             padding-left:60px;
         }
         .heading12{
             font-size:22px;
             text-align:center;
         }
         .image12{
             height:160px;
             border-radius:20px;
             text-align:center;
         }
         .image12:hover{
             opacity:0.7;
             overflow:hidden;
         }
         .para12{
             margin-top:12px;
             text-align:center;
         }
         .price12{
             text-align:center;
         }
         .mitisubishi{
             background-color:black;
             color:white;
             border-style:solid;
             border-radius:20px;
             font-family:arial;
             margin-bottom:20px;
             padding-left:10px;
         }
         .containor4{
             background-color:lightgrey;
             height:550px;
             border-style:solid;
             border-radius:20px;
             margin-bottom:20px;
             padding-bottom: 20px;
         }
         .box13{
             width:20%;
             font-family:arial;
             padding-left:20px;
             float:left;
         }
         .heading13{
             font-size:22px;
             text-align:center;
         }
         .image13{
             height:160px;
             border-radius:20px;
         }
         .image13:hover{
             opacity:0.7;
             overflow:hidden;
         }
         .para13{
             margin-top:12px;
             text-align:center;
         }
         .price13{
             text-align:center;
         }
         .box14{
             width:20%;
             font-family:arial;
             padding-left:40px;
             float:left;
         }
         .heading14{
             font-size:22px;
             text-align:center;
         }
         .image14{
             height:160px;
             border-radius:20px;
         }
         .image14:hover{
             opacity:0.7;
             overflow:hidden;
         }
         .para14{
             margin-top:12px;
             text-align:center;
         }
         .price14{
             text-align:center;
         }
         .box15{
             width:20%;
             font-family:arial;
             float:left;
             padding-left:60px;
         }
         .heading15{
             font-size:22px;
             text-align:center;
         }
         .image15{
             height:160px;
             border-radius:20px;
         }
         .image15:hover{
             opacity:0.7;
             overflow:hidden;
         }
         .para15{
             margin-top:12px;
             text-align:center;
         }
         .price15{
             text-align:center;
         }
         .box16{
             width:20%;
             font-family:arial;
             float:left;
             padding-left:60px; 
         }
         .heading16{
              font-size:22px;
             text-align:center
         }
         .image16{
             height:160px;
             border-radius:20px;
         }
         .image16:hover{
             opacity:0.7;
             overflow:hidden;
         }
         .para16{
              margin-top:12px;
             text-align:center;
         }
         .price16{
             text-align:center;
         }
          .footer{
            height:70px;
            background-color:black;
            padding-left:200px;
            padding-top:20px;
            padding-bottom:20px;
            border-style:solid;
            border-radius:20px;
        }
        .p1{
            float:left;
            color:white;   
        }
        .call-image{
        float: left;
        }
        .p2{
            float:left;
            color:white;
        }
        .call-image2{
           float:left;
        }
        .p3{
            float:left;
            color:white;
        }
        .call-image3{
            float:left;
            color:black;
        }
        .call-image4{
            height:40px;
            width:40px;
            float:left;
        }
        .call-image4:hover{
            opacity: 0.5;
            overflow: hidden;
        }
        .call-image5{
            height:40px;
            width:40px;
            float:left;
        }
        .call-image5:hover{
            opacity: 0.5;
            overflow: hidden;
        }
        .call-image6{
            height:40px;
            width:40px;
            float:left;
            color:black;
        }
        .call-image6:hover{
            opacity: 0.5;
            overflow: hidden;
        }
        .last-call{
            margin-left:150px;
        }
        #email{
            color:white;
            text-decoration:none;
        }